body{
   margin: 0px;
   background: rgb(132, 209, 233);
}
div.Back{
    background: rgb(111, 172, 201);
    width: 90%;
    height: 90%;
    position: absolute;
    margin-top: 30px;
    left: 5%;
    right: 5%;
    top: 1%;
    bottom: 1%;
    border-radius: 30px;
    border: 4px black solid;
    display: flex;
    justify-content: center;
}

div.Box{
    background: rgb(49, 144, 173);
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 21px;
    border-radius: 15px;
}
.Box input[type = "submit"]{
    text-align: center;
    font-size: 19px;
    color: black;
    width: 150px;
    background: white;
    border: 3px black solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition: 0.35s;
}
.Box input[type = "submit"]:focus{
    outline: none;
    width: 250px;
}
.Box input[type = "text"], .Box input[type = "password"]{
    color: black;
    font-size: 18px;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    outline: none;
    background: white;
    border: 3px black solid;
    transition: 0.25s;
    border-radius: 35px;
}
.Box input[type = "text"]:focus, .Box input[type = "password"]:focus{
    width: 350px;
    color: black;
}

div.Text{
    margin-top: 20px;
    font-size: 22px;
}
.Text a{
    color: black;
}