body{
   margin: 0px;
   background: rgb(22, 64, 180);
}
div.Back{
    background: rgb(111, 172, 201);
    width: 90%;
    height: 90%;
    position: absolute;
    margin-top: 30px;
    left: 5%;
    right: 5%;
    top: 1%;
    bottom: 1%;
    border-radius: 30px;
}

div.Box{
    background: rgb(13, 55, 117);
    margin-right: 0px;
    width: 510px;
    height: 500px;
    text-align: center;
    color: white;
    box-shadow: 15px 10px 7px rgb(5, 49, 114);
    border-radius: 15px;
    float: left;
    margin: 40px;
}
.Box input[type = "submit"]{
    text-align: center;
    color: white;
    width: 150px;
    background: none;
    border: 1px black solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}
.Box input[type = "submit"]:focus{
    outline: none;
}
.Box input[type = "text"], .Box input[type = "password"]{
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    outline: none;
    background: none;
    border: 1px black solid;
    transition: 0.25s;
    border-radius: 35px;
}
.Box input[type = "text"]:focus, .Box input[type = "password"]:focus{
    width: 350px;
    background: rgb(119, 181, 206);
    border-color: rgb(4, 27, 90);
}

div.Text{
    margin-top: 30px;
    font-size: large;
}
.Text a{
    color: red;
}