body{
    background: rgb(134, 6, 13);
}
div.Box{
    background: rgb(61, 0, 3);
    margin-right: 70px;
    width: 530px;
    height: 500px;
    text-align: center;
    color: white;
    box-shadow: 15px 10px 10px rgb(37, 1, 2);
    border-radius: 15px;
    position: absolute;
    left: calc(75% - 500px);
}
.Box input[type = "submit"]{
    text-align: center;
    color: white;
    width: 150px;
    background: none;
    border: 1px black solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}
.Box input[type = "submit"]:focus{
    outline: none;
}
.Box input[type = "text"], .Box input[type = "password"]{
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    outline: none;
    background: none;
    border: 1px black solid;
    transition: 0.25s;
    border-radius: 35px;
}
.Box input[type = "text"]:focus, .Box input[type = "password"]:focus{
    width: 350px;
    background: rgb(134, 6, 13);
    border-color: rgb(4, 90, 4);
}

div.Text{
    margin-top: 30px;
    font-size: large;
}
.Text a{
    color: rgb(0, 0, 255);
}