body{
    background: rgb(134, 6, 13);
    margin: 0;
}
.User_place img{
    width: 60px;
    height: 50px;
}
.User_place div{
    background: black;
    width: 60px;
    height: 50px;
    background-size: 100% 100%;
}
.User_place h1{
    position: absolute;
    left: calc(70% - 400px);
    margin-top: 5px;
    background: white;
    width: 400px;
    text-align: center;
}