body{
    background: rgb(132, 209, 233);
    margin: 0;
}
header.menu{
    background: rgb(49, 144, 173);
    width: 100%;
    height: 60px;
    display: block;
    margin-top: 5px;
}

div.welcome{
    color: white;
    width: 530px;
    float: left;
    margin-left: 45px;
}

nav.menu{
    float: right;
    width: auto;
    margin-top: 15px;
    margin-right: 45px;
}
.menu a{
    display: inline;
    color: white;
    padding-left: 20px;
    font-size: 25px;
}

div.tasks {
    margin-top: 15px;
    margin-left: 20px;
    width: 50%;
    height: 100%;
    background: white;
}
 
.tasks div {
    margin-left: 10px;
    margin-right: 10px;
    background: red;
    width: 40%;
}